
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            background-color: rgb(209, 209, 209);

        }
        
        .A {
            background-color: rgb(255, 255, 255);
            width: 100%;
            height: 20vh;
        }
        
        .Q {
            background-color: rgb(209, 209, 209);
            width: 100%;
            height: 10vh;
            margin-bottom: 8px;
        }
        
        .M {
            background-color: rgb(255, 255, 255);
            width: 95%;
            height: 66vh;
            display: inline-block;
            margin-left: 8px;
            padding-left: 10px;
            padding-right: 10px;
            overflow: auto;
        }
        
        .N {
            background-color: rgb(255, 255, 255);
            width: 95%;
            height: 66vh;
            display: inline-block;
            margin-left: 8px;
            margin-top: 10px;
            overflow: auto;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
        }

        
        .b1 {
            background-color: #f71000;
            width: 150px;
            padding: 10px;
            font-size: 18px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 900;
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 80px 0px 80px 0px;
            margin-top: 15px;
            margin-left: 20px;
            transition: all 1s;
            box-shadow: 5px 5px 10px rgb(46, 46, 46);
        }
        
        .b1:hover {
            background-color: #db0000;
            transition: all 1s;
            border-radius: 20px;
            color: rgb(255, 255, 255);
        }
        
        #k {
            display: inline-block;
        }
        
        #on {
            display: none;
        }
        
        #h4 {
            display: none;
        }
        
        .x1 {
            margin-top: 20px;
            width: 250px;
            height: 50px;
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #fff;
            padding: 8px;
            background-color: #700;
            border: none;
            border-radius: 10px;
            transition: all 0.5s;
            margin-left: 10px;
        }
        
        .x1:hover {
            background-color: #900;
            transition: all 2s;
            border-radius: 50px;
        }
        
        #x100 {
            display: none;
            width: 93%;
            height: 62.6vh;
            background-color: rgb(255, 255, 255);
            margin-left: 8px;
            margin-top: 18px;
            padding-left: 10px;
            padding-right: 10px;
            overflow: auto;
        }
        
        .d1 {
            background-color: #f71000;
            width: 280px;
            padding: 10px;
            font-size: 17px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 80px 0px 80px 0px;
            margin-top: 15px;
            transition: all 1s;
            box-shadow: 5px 5px 10px rgb(46, 46, 46);
            float: right;
            margin-right: 10px;
            display: none;
        }
        
        .d1:hover {
            background-color: #db0000;
            transition: all 1s;
            border-radius: 20px;
            color: rgb(255, 255, 255);
        }
        
        .d {
            background-color: #f71000;
            width: 280px;
            padding: 10px;
            font-size: 17px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 80px 0px 80px 0px;
            margin-top: 15px;
            transition: all 1s;
            box-shadow: 5px 5px 10px rgb(46, 46, 46);
            float: right;
            margin-right: 10px;
        }
        
        .d:hover {
            background-color: #db0000;
            transition: all 1s;
            border-radius: 20px;
            color: rgb(255, 255, 255);
        }
       
        
        .x100 p {
            margin-left: 40px;
                   font-weight: 500;
                   margin-top: 2px;
                   font-size: 18px;
                   color: #444;
                  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       }
       .lt_gt,.html_m1,.font20px,.properties,.properties_content,.content,.content1{
        transition: all 0.5s;
        font-size: 18px;
    }
    .N #fnn,#LN,#pas{
        transition: all 0.5s;
    }
    