* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 235, 235);
}

.A {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 20vh;
}

.Q {
    background-color: rgb(209, 209, 209);
    width: 100%;
    height: 10vh;
    margin-bottom: 10px;
}

.M {
    background-color: rgb(255, 255, 255);
    width: 47.6%;
    height: 66vh;
    display: inline-block;
    margin-left: 8px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.N {
    background-color: rgb(0, 0, 0);
    width: 47%;
    height: 66vh;
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    cursor: wait;
}

body {
    background-color: rgb(209, 209, 209);
}

.b1 {
    background-color: #f71000;
    width: 220px;
    padding: 8px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 80px 0px 80px 0px;
    margin-top: 15px;
    margin-left: 30px;
    transition: all 1s;
    box-shadow: 5px 5px 10px rgb(46, 46, 46);
}

.b1:hover {
    background-color: #db0000;
    transition: all 1s;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

#x100 {
    display: none;
    width: 97.4%;
    height: 62.6vh;
    background-color: rgb(255, 255, 255);
    margin-left: 8px;
    margin-top: 18px;
    padding: 10px;
    overflow: auto;
}

.d1 {
    background-color: #f71000;
    width: 350px;
    padding: 8px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 80px 0px 80px 0px;
    margin-top: 15px;
    transition: all 1s;
    box-shadow: 5px 5px 10px rgb(46, 46, 46);
    float: right;
    margin-right: 20px;
    display: none;
}

.d1:hover {
    background-color: #db0000;
    transition: all 1s;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.d {
    background-color: #f71000;
    width: 350px;
    padding: 8px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 80px 0px 80px 0px;
    margin-top: 15px;
    transition: all 1s;
    box-shadow: 5px 5px 10px rgb(46, 46, 46);
    float: right;
    margin-right: 20px;
}

.d:hover {
    background-color: #db0000;
    transition: all 1s;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.x100 span {
    font-size: 22px;
    font-weight: 520;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.x100 h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-top: 10px;
    margin-left: 25px;
}

.x100 h4 {
    font-size: 18px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}

.x100 p {
    margin-left: 40px;
    font-weight: 400;
    margin-top: 2px;
    color: #686868;
}

@media (min-width:920px) and (max-width:1140px) {
    .M {
        background-color: rgb(255, 255, 255);
        width: 96%;
        height: 66vh;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        overflow: auto;
    }
    .N {
        width: 96%;
        height: 66vh;
        display: inline-block;
        margin-left: 5px;
        margin-top: 10px;
        overflow: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .Q {
        margin-bottom: 22px;
    }
}


/***********************************************/


/***********************************************/


/***********************************************/


/*********************tansec code HTML*******************/

.lt_gt {
    color: mediumblue;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content1 {
    color: #900;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -5px;
}

.content {
    color: #900;
    font-size: 20px;
    margin-left: -5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.html_m1 {
    color: #ff0000;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.properties {
    color: rgb(0, 9, 138);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.properties_content {
    color: rgb(0, 175, 0);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.font20px {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*********************tansec code CSS*******************/

.lt_gt_css {
    color: mediumblue;
    font-size: 20px;
    font-weight: bold;
}


/*el gosa elkhas be code */

.color_005dd6 {
    color: #005dd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/*el gosa elkhas be mota3er elcode*/

.color_900 {
    color: rgb(0, 175, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.color {
    color: #900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.color_900_info {
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.color_900_info,
.lt_gt,
.content1,
.content,
.html_m1,
.properties,
.properties_content,
.font20px,
.lt_gt_css,
.color,
.color_005dd6,
.color_900 {
    transition: all 0.5s;
}